@page "/hotel/rooms"
@using CatHotel.Client.Helper
@using CatHotel.Client.Model.ViewModel
@using CatHotel.Client.Service.IService
@using Models
@inject ILocalStorageService localStorage
@inject IJSRuntime jsRuntime
@inject IHotelRoomService hotelRoomService

<h3>HotelRooms</h3>
<div>@Rooms.FirstOrDefault().Name</div>


@code {
    private HomeViewModel HomeModel { get; set; } = new HomeViewModel();
    public IEnumerable<HotelRoomDto> Rooms { get; set; } = new List<HotelRoomDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (await localStorage.GetItemAsync<HomeViewModel>("InitialRoomBookingInfo") != null)
            {
                HomeModel = await localStorage.GetItemAsync<HomeViewModel>("InitialRoomBookingInfo");
            } else
            {
                HomeModel.NumberOfNights = 1;
            }
            await LoadRooms();
        } catch (Exception e)
        {
            await jsRuntime.ToastrError(e.Message);
        }
    }

    
    private async Task LoadRooms()
    {
        Rooms = await hotelRoomService.GetHotelRooms(HomeModel.StartDate.ToString("MM.dd.yyyy"), HomeModel.EndDate.ToString("MM.dd.yyyy"));
    }
}

